*.bak
*.swp
*.log
*.pyc
*.db

# Default output-dir from tool
webapp

# Used to store testdata
data/

# External libraries
libraries

# Locations of shapefiles
src/shapefile/sources/

# Default output of logs
logs

# Lists describing the test data
packages.list*
