*.bak
*.swp
*.log
*.pyc
*.db

# Default output-dir from tool
webapp

# Used to store testdata
data/

# External libraries
libraries

# Default output of logs
logs

# Lists describing the test data
packages.list*
