<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

<script src='../libraries/timeline_2.3.0/timeline_ajax/simile-ajax-api.js?bundle=true'></script>
<script src='../libraries/timeline_2.3.0/timeline_js/timeline-api.js?bundle=true'></script>

<script src='../libraries/jquery_1.10.2/jquery.js'></script>
<script src='../libraries/jquery_1.10.2/jquery-ui.js'></script>
<link rel='stylesheet' href='../libraries/jquery_1.10.2/jquery-ui.css' type='text/css' media='all' />

<link href="../css/datepicker.css" rel="stylesheet" type="text/css"/>
<link href="../css/main.css" rel="stylesheet" type="text/css"/>

<script src="variables.js"></script>
<script src="../js/filter.js"></script>
<script src="../js/timeline.js"></script>

</head>
<body onload="onLoad();" onresize="onResize();">
<h2>Android timeline</h2>
<div id="my-timeline" style="font-size: 10px; height: 450px; border: 1px solid #aaa"></div>
<noscript>
This page uses Javascript to show you a Timeline. Please enable Javascript in
your browser to see the full page. Thank you.
</noscript>
<div class="controls" id="controls"></div>
<div id="datepicker">
Go to date: <input id="dateControl" type="date" name="go" onChange="centerSimileAjax(this.value);">
</div>
<script>
	// Use datepicker if html5 date input is not available
	if ( $('#dateControl')[0].type != 'date' )
		$('#dateControl').datepicker();
</script>
<div id="imageDescription">
<h3>Image description</h3>
<ul class="imageList">
<script>
for(var i = 0; i < Images.length; i++)	{
document.write("<li><img src=\"" + Images[i] + "\"/>");
document.write("&nbsp;" + imageDesc[i]);
document.write("</li>");
}
</script>
</ul>
</div>

<div id="info">
<h3>Information about timeline</h3>
<p>The times refer to UTC if you didn't set an appropriate time zone. If you did
set a time zone it will refer to the time it happened on the phone. It does not
however take daylight saving time into account.</p>
</div>
</body>
</html>
